extends layout 

block content 
    h1 #{title}
    div
        h3 Artist: #{artist}
    div     
        h3 Genre:
            ul
                for genre in genres 
                    li #{genre.name}
    div 
        h4 Summary: 
            p #{summary}
    div
        a(href=`update/${id}`) Update
    