extends layout

block content
    div
        ul
            each album in album_list
                li
                    a(href=album.url) #{album.title}
                    | (#{album.artist.name})
                    | #{album.summary}
                    | Genres: 
                    each genre in album.genres
                        span #{genre.name}  
